<!DOCTYPE html>
<html>
<head>
  <title>TestMusicalElement</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
        <ul>
        <li>Home</li>
        <li>Sign Up</li>
        <li>About</li>
    </ul>
  </div>
<%= yield %>

</body>
</html>
